<div class="form-group">
  <%= simple_form_for @place do |f| %>
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :shared_by, input_html: { class: "form-control"} %>
    <h4>Shareing with selected friends or publicly</h4>
    <%= f.select :user_id, current_user.friends.map{ |u| [u.email, u.id] }, {}, :multiple => true, :class => "form-control" %>
    <h4>Enter either address or coordinates</h4>
    <%= f.input :raw_address, label: 'Address', input_html: { class: "form-control"} %>
    <small class="text-muted">You can also enter IP. Your IP is <%= request.ip %></small>
    <div class="form-group row">
      <div class="col-sm-1">
        <%= f.label :latitude %>
      </div>

      <div class="col-sm-3">
        <%= f.text_field :latitude, class: "form-control" %>
      </div>

      <div class="col-sm-1">
        <%= f.label :longitude %>
      </div>

      <div class="col-sm-3">
        <%= f.text_field :longitude, class: "form-control" %>
      </div>

      <div class="col-sm-4">
        <a href="#" id="find-on-map" class="btn btn-info btn-sm">Find on the map</a>
      </div>
    </div>
    <%= f.submit 'Share!', class: "btn btn-primary", data: { disable_with: "Sharing..." } %>
  <% end %>
</div>

<div class="card">
  <div class="card-block">
    <div id="map"></div>
  </div>
</div>
